  <footer>
        <div class="container">
            <div class="row footer-row">
                <div class="col-sm-6 footer-left">
                    <span class="copyright">&copy; {{ 'now' | date: "%Y" }} <strong>alfieindesigns</strong>. All rights reserved.</span>
                </div>
                <div class="col-sm-6 footer-right">
                    <ul class="list-inline footer-links">
                        <li><a class="page-scroll" href="#services">Services</a></li>
                        <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <li><a href="#privacyModal" data-toggle="modal">Privacy</a></li>
                        <li><a href="#termsModal" data-toggle="modal">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
