 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Scroll Reveal Animations -->
    <script>
    (function() {
        var reveals = document.querySelectorAll('.scroll-reveal');
        if (!reveals.length) return;

        var observer = new IntersectionObserver(function(entries) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                    entry.target.classList.add('revealed');
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.1,
            rootMargin: '0px 0px -40px 0px'
        });

        reveals.forEach(function(el, i) {
            el.style.transitionDelay = (i % 4) * 0.1 + 's';
            observer.observe(el);
        });
    })();
    </script>
