<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading scroll-reveal">Services</h2>
                    <h3 class="section-subheading scroll-reveal">Transforming ideas into powerful digital experiences.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card scroll-reveal">
                        <div class="service-icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <h4 class="service-heading">Shopify Store Development</h4>
                        <p>From setup to launch, I create stores that are beautiful, functional, and conversion-ready.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card scroll-reveal">
                        <div class="service-icon-wrapper">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h4 class="service-heading">Store Speed Optimization</h4>
                        <p>Faster stores mean happier customers and more sales. I fine-tune your site for maximum speed.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card scroll-reveal">
                        <div class="service-icon-wrapper">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <h4 class="service-heading">Conversion Rate Optimization</h4>
                        <p>I turn more visitors into buyers through smart design, clean UX, and data-backed tweaks.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card scroll-reveal">
                        <div class="service-icon-wrapper">
                            <i class="fa fa-code"></i>
                        </div>
                        <h4 class="service-heading">Custom Shopify Apps</h4>
                        <p>Need features beyond standard Shopify? I build custom apps and integrations to power up your store.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
